.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    > div {
      width: calc(100% - 280px);
    }
  }
  .field {
    margin: 15px 0px 0px 0px;
  }
  .field[data-type="input"],
  .field[data-type="textarea"] {
    max-width: 75%;
  }
}
