* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --primary-color: #673ab7;
  --text-color: #202124;
  --bg-color: #f0ebf8;
}

body {
  background-color: var(--bg-color);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

input,
textarea {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
