.container {
  padding: 15px;
  margin: 0px auto;
  table {
    border: 1px solid black;
    background-color: white;
    border-collapse: collapse;
    width: 100%;
    thead {
      td {
        font-family: "Poppins-Medium";
      }
    }
    td {
      padding: 10px;
      text-align: center;
      border: 1px solid black;
    }
  }
}
