.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  gap: 15px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  border: 1px solid #dadce0;
  border-radius: 8px;
  .wrapper {
    padding: 20px;
    .asterisk {
      display: inline-block;
      color: #da3025;
    }
    .field_label {
      display: flex;
      align-items: flex-start;
      gap: 5px;
    }
    .field_description {
      padding: 15px 0px;
    }
    .field {
      margin: 15px 0px;
    }
    .field[data-type="input"],
    .field[data-type="textarea"] {
      max-width: 75%;
    }
    .error_msg {
      display: flex;
      align-items: center;
      gap: 5px;
      color: #da3025;
      margin-top: 10px;
      i {
        font-size: 24px;
      }
      span {
        font-size: 14px;
      }
    }
  }
}

.container[data-error="true"] {
  border: 1px solid #da3025;
}

.option_drop_down {
  min-width: 200px;
}

@media only screen and (max-width: 768px) {
  .container {
    .wrapper {
      padding: 30px 15px 0px 15px;
      .field_label {
        flex-direction: column;
        gap: 10px;
      }
      .field {
        margin: 15px 0px 30px 0px;
      }
      .field[data-type="input"],
      .field[data-type="textarea"] {
        max-width: 100%;
      }
    }
  }
}
