.enter[data-popper-placement^="left"],
.exit[data-popper-placement^="left"] {
  .menu {
    animation-name: left;
  }
}
.enter[data-popper-placement^="right"],
.exit[data-popper-placement^="right"] {
  .menu {
    animation-name: right;
  }
}
.enter[data-popper-placement^="top"],
.exit[data-popper-placement^="top"] {
  .menu {
    animation-name: top;
  }
}
.enter[data-popper-placement^="bottom"],
.exit[data-popper-placement^="bottom"] {
  .menu {
    animation-name: bottom;
  }
}

.enter {
  .menu {
    animation: 250ms ease-in-out forwards;
  }
}

.exit {
  .menu {
    animation: 250ms ease-in-out forwards reverse;
  }
}

.container {
  z-index: 10;
  .menu {
    background-color: #000;
    border-radius: 4px;
    font-size: 14px;
    padding: 7px;
    color: white;
    text-align: center;
    max-width: 250px;
  }
}

@keyframes bottom {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes right {
  0% {
    opacity: 0;
    transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes left {
  0% {
    opacity: 0;
    transform: translateX(5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes top {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
